<html>
<head>
    <title>LOTR Sites</title>

    {% load static %}
</head>
<body>
    <div id="mapdiv"></div>
   
    <style>
        textarea {
            overflow: auto; /*This will ensure no scroll bar is displayed by default, IE always display scrollbars on textarea*/
          }          
        input{
            background-color:ghostwhite;
        }        
    </style>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
     map=new OpenLayers.Map("mapdiv");
            map.addLayer(new OpenLayers.Layer.OSM());
            var lonLat=new OpenLayers.LonLat(175.5026333,-39.31935).transform(new OpenLayers.Projection("EPSG:4326"), //WGS 1984 projection
            map.getProjectionObject() //The map projection (Spherical Mercator)
        );

    var zoom=11;
    map.setCenter (lonLat, zoom);

    var vectorLayer = new OpenLayers.Layer.Vector("Overlay");

    var selectedFeature;

    var dataFromServer;

    $.ajax({
    	url: "../locations/",
        context: document.body,
        success : function handleData(data){
            
            $.each(data, function (i, v) {
              
            var lon= parseFloat(v.lon);
            var lat =parseFloat(v.lat);
            var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point(lon,lat ).transform(new OpenLayers.Projection("EPSG:4326"), //WGS 1984 projection
            map.getProjectionObject()),
            {
                id:v.id,
                location:v.location,
                lat:v.lat,
                lon:v.lon,
                region:v.region,
                description: v.description,
                comments: v.comments
            } ,
            {externalGraphic:  "{% static 'images/marker.png' %}", graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25  }
        );
        vectorLayer.addFeatures(feature);
        map.addLayer(vectorLayer);
        });
        }
    });


    //Add a selector control to the vectorLayer with popup functions
    var controls = {
      selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
    };

    function createPopup(feature) {
        selectedFeature= feature;
      feature.popup = new OpenLayers.Popup.FramedCloud("popup",
          feature.geometry.getBounds().getCenterLonLat(),
          null,         
		'<form action="../locations/" method="post" ' +
		'<p> <input name="lat" readonly type="hidden"   value="' + feature.attributes.lat + '" ></p>' +
		'<p> <input name="lon" readonly type="hidden"  value="' + feature.attributes.lon + '" ></p>' +
		'<p><div class="label">Location:</div> <input name="location" readonly type="text" size="30" maxlength="50"  value="' + feature.attributes.location + '" ></p>' +
		'<p><div class="label"> Region:</div> <input name="region" readonly type="text" size="30" maxlength="50"  value="' + feature.attributes.region + '" ></p>' +
        '<p><div class="label"> Description:</div> <input name="description" readonly type="text" size="30" maxlength="200"  value="' + feature.attributes.description + '" ></p>' +
	  	'<p><div class="label"> Comments:</div> <textarea id="#comments" cols="30" rows="5" name="comments">  ' + feature.attributes.comments + ' </textarea></p>' +
		'<input type="button" onclick="saveComment();" name="ok" value="Save"></form>',
          null,
          true,
          function(){
              controls['selector'].unselectAll();
          });
          

      map.addPopup(feature.popup);
    }		

   function saveComment(){
       
       var feature = selectedFeature;
       data = 
        {
    "id": feature.attributes.id,
    "region": feature.attributes.region,
    "location": feature.attributes.location,
    "description": feature.attributes.description ,
    "lon": feature.attributes.lon,
    "lat": feature.attributes.lat,          
    "comments": $('textarea[name="comments"]').val()   

       }

$.ajax({
    url: "../location/"+ selectedFeature.attributes.id, 
    type: 'PUT',
    data: data,
    success: function(data) {
        controls['selector'].unselectAll();
    }
    });
        
   }
  
    function destroyPopup(feature) {
      feature.popup.destroy();
      feature.popup = null;
    }

   
    map.addControl(controls['selector']);
    controls['selector'].activate();

    </script>

</body>
</html>
